### APIS

In [1]:
import pandas as pd
import requests
import re

In [2]:
def llamar_api(url):
    
    llamada = requests.get(url)  

    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")  

    if llamada.status_code != 200:  
        print(f"El motivo por el que la llamada falló es {llamada.reason}")  
    else:
        return llamada.json()

In [3]:
url_libro = f"https://api.nytimes.com/svc/books/v3/reviews.json?author=Stephen+King&api-key={'ewVucb7ayxSdLBZnJcjxhKbpw4NBZ09u'}"
resultados_libro = llamar_api(url_libro)

La llamada a la API nos ha dado una respuesta de tipo: 200

In [4]:
API_KEY = "ewVucb7ayxSdLBZnJcjxhKbpw4NBZ09u"

def llamar_api(url):
    """Llama a una API y devuelve el JSON de la respuesta."""
    try:
        response = requests.get(url)
        response.raise_for_status()  # Lanza una excepción para códigos de error HTTP
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error al llamar a la API: {e}")
        return None

url_libro = f"https://api.nytimes.com/svc/books/v3/reviews.json?author=Stephen+King&api-key={API_KEY}"
resultados_libro = llamar_api(url_libro)

libros_stephen_king = []

if resultados_libro and "results" in resultados_libro: # verificamos que resultados_libro no sea None y que exista la key results
    for resultado in resultados_libro["results"]:
        if "book_title" in resultado and "publication_dt" in resultado: # verificamos que existan ambas claves
            libros_stephen_king.append({
                "Título": resultado["book_title"],
                "Fecha de publicación": resultado["publication_dt"]
            })

if libros_stephen_king:
    df_libros_stephen_king = pd.DataFrame(libros_stephen_king)
    print(df_libros_stephen_king)
else:
    print("No se encontraron libros de Stephen King en la respuesta de la API.")

                        Título Fecha de publicación
0                     11/22/63           2011-11-13
1                     11/22/63           2011-10-31
2          Wolves of the Calla           2004-01-04
3   Nightmares and Dreamscapes           1993-10-24
4                  Black House           2001-11-04
..                         ...                  ...
61                End of Watch           2016-06-12
62                The Outsider           2018-05-22
63                   Elevation           2018-10-26
64               The Institute           2019-09-08
65               The Institute           2019-09-10

[66 rows x 2 columns]

In [5]:
df_libros_stephen_king

                        Título Fecha de publicación
0                     11/22/63           2011-11-13
1                     11/22/63           2011-10-31
2          Wolves of the Calla           2004-01-04
3   Nightmares and Dreamscapes           1993-10-24
4                  Black House           2001-11-04
..                         ...                  ...
61                End of Watch           2016-06-12
62                The Outsider           2018-05-22
63                   Elevation           2018-10-26
64               The Institute           2019-09-08
65               The Institute           2019-09-10

[66 rows x 2 columns]

In [6]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [7]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  
  else:
    print(err)
else:
  cnx.close()

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE libros_stephen_king")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE libros_stephen_king

In [9]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='libros_stephen_king')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE libros_stephen_king (Id_libro INT, Título VARCHAR (200), Fecha_de_publicación DATE)")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE libros_stephen_king (Id_lib..

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\invitadolaptop\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.38)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in c:\users\invitadolaptop\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\invitadolaptop\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\InvitadoLaptop\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [11]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/libros_stephen_king')

In [12]:
df_libros_stephen_king.to_sql('libros_stephen_king', engine, if_exists='replace', index=False)
print("Datos insertados correctamente.")

Datos insertados correctamente.